body {
    height: 100%;
    overflow: hidden;
    color: rgb(242, 251, 66);
    background-color: rgb(30, 30, 30);
}

.contenedor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contenido-juego {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.juego {
    width: 800px;
    height: 600px;
    background: url(assets/background-blue.png);
    animation: fondo-animado 7s linear infinite;
    box-shadow: 0 4px 20px rgb(0, 0, 0);
    position: relative;
    z-index: -2;
}

@keyframes fondo-animado {
    from {
        background-position-y: top;
    }

    to {
        background-position-y: 761.7px;
    }
}

header {
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: aliceblue;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.titulo {
    font: bold 80px/1 arial;
    text-transform: uppercase;
    color: #ffd505;
    text-shadow: 0 2px 0 #cb8000,
        0 4px 0 #b47200,
        0 6px 0 #9e6400,
        0 8px 0 #764b00,
        0 10px 0 #643f00,
        0 12px 0 #462c00,
        3px 8px 15px rgba(255, 255, 255, 0.435),
        3px 8px 5px rgba(255, 255, 255, 0.639);
    animation: letra-animada 4s linear infinite;
}

@keyframes letra-animada {
    0% {
        text-shadow: 0 2px 0 #cb8000,
            0 4px 0 #b47200,
            0 6px 0 #9e6400,
            0 8px 0 #764b00,
            0 10px 0 #643f00,
            0 12px 0 #462c00,
            3px 8px 15px rgba(255, 255, 255, 0.274),
            3px 8px 5px rgba(255, 255, 255, 0.404);
    }

    50% {
        text-shadow: 0 2px 0 #cb8000,
            0 4px 0 #b47200,
            0 6px 0 #9e6400,
            0 8px 0 #764b00,
            0 10px 0 #643f00,
            0 12px 0 #462c00,
            3px 8px 15px rgba(255, 255, 255, 0.896),
            3px 8px 5px rgba(255, 255, 255, 0.9);
    }

    100% {
        text-shadow: 0 2px 0 #cb8000,
            0 4px 0 #b47200,
            0 6px 0 #9e6400,
            0 8px 0 #764b00,
            0 10px 0 #643f00,
            0 12px 0 #462c00,
            3px 8px 15px rgba(255, 255, 255, 0.274),
            3px 8px 5px rgba(255, 255, 255, 0.404);
    }
}

footer {
    padding: 10px;
    text-align: center;
    font-size: 11px;
    background-color: rgb(30, 30, 30);
    color: aliceblue;
}

.juego .laser {
    position: absolute;
    margin-left: -2.5px;
    height: 20px;
    z-index: -1;
}

.juego .enemiLaser {
    position: absolute;
    margin-left: -2.5px;
    height: 15px;
    z-index: -1;
}

.juego .enemigo {
    position: absolute;
}

.lose {
    display: none;
    background: #6b1818;
    color: white;
    padding: 20px 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    animation: pop-in 1s;
    margin-top: 12em;
}

.win {
    display: none;
    position: absolute;
    background: #05c04d;
    color: white;
    padding: 20px 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    animation: pop-in 1s;
}

/* Menu */

.eightbit-btn {
    background: #92cd41;
    font: bold 80px/1 arial;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
    color: white;
    text-shadow: 0 2px 0 #cb8000,
    0 4px 0 #b47200;
    box-shadow: inset -4px -4px 0px 0px #4aa52e;
}
.eightbit-btn:hover, .eightbit-btn:focus {
    background: #76c442;
    box-shadow: inset -6px -6px 0px 0px #4aa52e;
}
.eightbit-btn:active {
    box-shadow: inset 4px 4px 0px 0px #4aa52e;
}
.eightbit-btn:before, .eightbit-btn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
.eightbit-btn:before {
    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px black solid;
}
.eightbit-btn:after {
    left: -6px;
    top: 0;
    border-left: 6px black solid;
    border-right: 6px black solid;
}
.eightbit-btn--reset {
    background: #e76e55;
    box-shadow: inset -4px -4px 0px 0px #8c2022;
}
.eightbit-btn--reset:hover, .eightbit-btn--reset:focus {
    background: #ce372b;
    box-shadow: inset -6px -6px 0px 0px #8c2022;
}
.eightbit-btn--reset:active {
    box-shadow: inset 4px 4px 0px 0px #8c2022;
}
.eightbit-btn--proceed {
    background: #f7d51d;
    box-shadow: inset -4px -4px 0px 0px #e59400;
}
.eightbit-btn--proceed:hover, .eightbit-btn--proceed:focus {
    background: #f2c409;
    box-shadow: inset -6px -6px 0px 0px #e59400;
}
.eightbit-btn--proceed:active {
    box-shadow: inset 4px 4px 0px 0px #e59400;
}
*, *:before, *:after {
    box-sizing: border-box;
}

h1 {
    font-size: 2.8rem;
    line-height: 3.4rem;
}
h2 {
    font-size: 2rem;
}
h1, h2 {
    font-family: 'Press Start 2P', cursive;
}
p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
hr {
    margin: 40px auto;
    max-width: 100px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}
.pen-intro {
    text-align: center;
}